{% load bootstrap4 %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{% url 'index' %}">Awwards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_project'%}">New Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' username=user %}">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Available APIs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'project_api' %}">Project API</a>
          <a class="dropdown-item" href="{% url 'profile_api' %}">Profile API</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
    <form class="navbar-form" role="search" action="{% url 'search' %}" style="width:auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Projects" name="title" style="height:38px;">
      </div>
    </form>
  </div>
</nav>

<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>