{%extends 'base.html'%} 
{% block content %}
{% include 'navbar.html' %}

<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'projectdetails' id=project.id %}">
            <img class="card-img-top" src="{{project.image.url}}" style="height:300px;">
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mx-auto">
      <div class="card" style="height:340px;margin-bottom:10px;">
        <div class="card-body">
          <p> <b>Title : </b> {{project.title}} </p>
          <p>
            {% autoescape off %}
            <b>Description : </b> {{ project.description  }}
            {% endautoescape %}
          </p>
          <br>
          <a href="{% url 'review' project_id=project.id%}" class="btn btn-info btn-block"
            style="margin-top:4px;">Rate</a>
          <a href="{{project.link}}" class="btn btn-success btn-block" target="_blank">Visit Site</a>
          <br>
          <b> Posted :</b> {{project.timestamp | timesince }} ago
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- SINGLE USER REVIEWS -->
  <div class="container">
    {% for review in reviews %}
    <div class="row">
      {% if project.id == review.project.id %}
      <div class="col-md-2">
        Rating by : <b> {{review.user.username}}</b></div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button class="btn btn-info btn-lg">{{review.design}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-lg">
          {{review.usability}}

        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-success btn-lg">{{review.content}}</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary btn-lg">{{review.average}}</button>
      </div>


      {%endif%}

    </div>
    <hr>
    <br>
    {% endfor  %}

    </p>
  </div>
</div>
{% endblock %}