{%extends "registration/base.html"%}

{% load bootstrap4 %}
{% load static%}
{% block content %}

  <div class="panel panel-success text-center pt-2">

    <div class="panel-body">
      {% if profile_info.photo %}
      <img src="https://images.pexels.com/photos/619419/pexels-photo-619419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="30%" width="30%" alt="profile-photo" class="img-responsive">
      {% else %}
      <img
        src="https://images.pexels.com/photos/619419/pexels-photo-619419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        style="height:80px;width:80px;">
      {% endif %}
    </div>
    <div class="panel-footer">
      <h3>
        username : {{ profile.username }}
      </h3>
    </div>
    <div class="panel-footer">
      {% if profile.username == user.username %}
      <p style="font-size:30px;">
        <a class="btn btn-sm btn-info" href="{% url 'update_profile'%}">Edit Profile</a>
      </p>
      {%endif%}
    </div>
    <div class="panel-footer">
      <h4>
        {{ profile_info.bio }}
      </h4>
    </div>
    <div class="panel-footer">
      <h5>
        Joined: {{ profile_info.timestamp | timesince }} ago
      </h5>
    </div>
  </div>
</div>
<hr>
<div class="row">
  {% if projects %}
  {% if profile.username == user.username %}
  <h2>You have {{ projects | length}} projects
    <span>
      <a class="btn btn-info btn-block" href="{% url 'add_project' %}">Add Project</a>
    </span>
  </h2>
  {%else%}
  <h3>
    This user has {{ projects | length}} projects
  </h3>
  {%endif%}
  {%endif%}
  {% for project in projects %}
  <div class="col-md-3">
    <a href="{{project.link}}">
      <div class="card-body">
        <img src=" {{project.image.url}}" alt="">
      </div>
    </a>
    <div class="card-header">
      <p class="text-center">
        {{project.description}}
      </p>
    </div>
  </div>
  {%endfor%}
</div>
</div>
{% endblock %}
</div>